{{- if eq .chezmoi.os "linux" }}
if test -f /usr/share/cachyos-fish-config/cachyos-config.fish
  source /usr/share/cachyos-fish-config/cachyos-config.fish
end
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
if test -x /opt/homebrew/bin/brew
  eval "$(/opt/homebrew/bin/brew shellenv)"
end

if functions -q load_nvm
  load_nvm > /dev/stderr
end

# opencode
fish_add_path "$HOME/.opencode/bin"

# aistor
fish_add_path "$HOME/aistor-binaries"
{{- end }}

if command -q zoxide
  zoxide init fish | source
end
# overwrite greeting
# potentially disabling fastfetch
#function fish_greeting
#    # smth smth
#end

if command -q thefuck
  thefuck --alias | source
end

{{- if eq .chezmoi.os "linux" }}
if set -q XDG_RUNTIME_DIR
  set -Ux SSH_AUTH_SOCK $XDG_RUNTIME_DIR/ssh-agent.socket
end
{{- end }}

# bun
set --export BUN_INSTALL "$HOME/.bun"
if not string match -q -- $BUN_INSTALL/bin $PATH
  set --export PATH $BUN_INSTALL/bin $PATH
end

# pnpm
{{- if eq .chezmoi.os "darwin" }}
set -gx PNPM_HOME "$HOME/Library/pnpm"
{{- else }}
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
{{- end }}
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH $PNPM_HOME $PATH
end
# pnpm end

{{- if eq .chezmoi.os "darwin" }}
# uv
fish_add_path "$HOME/.local/bin"
{{- end }}

set -gx EDITOR zed
set -gx VISUAL zed
