[data.git]
    name = {{ promptStringOnce . "git.name" "git.name" .chezmoi.username | quote }}
    email = {{ promptStringOnce . "git.email" "git.email" "" | quote }}
    signingkey = {{ promptStringOnce . "git.signingkey" "git.signingkey" "" | quote }}

[data.ssh]
    bitwardenItem = {{ promptStringOnce . "ssh.bitwardenItem" "ssh.bitwardenItem" "" | quote }}

[data.ngrok]
    bitwardenItem = {{ promptStringOnce . "ngrok.bitwardenItem" "ngrok.bitwardenItem" "" | quote }}
